<form [formGroup]="form">
  <div class="controls-container">
    <mat-label class="radio-label"> Search by: </mat-label>
    <mat-radio-group aria-label="Ricerca per:" formControlName="searchBy">
      <mat-radio-button value="name"> Name</mat-radio-button>
      <mat-radio-button value="issue" [disabled]="true" matTooltip="TODO"> Issue</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="controls-container top-spacing-s">
    <mat-form-field appearance="outline" [floatLabel]="'auto'">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="outline" [floatLabel]="'auto'">
      <mat-label>Language</mat-label>
      <input matInput formControlName="language">
    </mat-form-field>
    <mat-form-field appearance="outline" [floatLabel]="'auto'">
      <mat-label>Minumum n° of stars</mat-label>
      <input matInput formControlName="stars" type="number">
    </mat-form-field>
  </div>
  <div class="controls-container controls-container-justified top-spacing-s">
    <mat-form-field appearance="outline" [floatLabel]="'auto'">
      <mat-label>Issue title</mat-label>
      <input matInput formControlName="issue">
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="search()">
      Search
      <mat-icon aria-hidden="false" aria-label="search" [svgIcon]="'search-icon'"></mat-icon>
    </button>
  </div>
</form>
